/Account.class
/Answer.class
/Contact.class
/Department.class
/Exam.class
/Gender.class
/Group.class
/Position.class
/PositionName.class
/Question.class
/Student.class
/TypeName.class
/VietnamesePhone.class
/phone.class
/News.class
/INews.class
