/Club.class
/Course.class
/CourseGrade.class
/Duration.class
/Exam.class
/Furniture.class
/Grade.class
/Homework.class
/Level.class
/MAIN.class
/Professor.class
/Student.class
/Tuition.class
/TuitionType.class
/Type.class
